<div class="centred-content">
    <div class="model-box">

          <h1 class="title has-text-grey">
              Update Day
          </h1>
          <div class="title">
            <div class="field is-grouped">
              <p class="control is-expanded">
                <input #dayTitleInput class="input has-background-light is-meduim" type="text" placeholder="Change day">
              </p>
              <div class="buttons is-right">
                <button class="button is-meduim " routerLink="/" (click)="updateDay(dayTitleInput.value)" >Cancel</button>
                <button class="button is-primary" >Save</button>
                 
              </div>
            </div>
          </div>

    </div>

</div>