<div class="centred-content">
    <div class="model-box">

          <h1 class="title">
              Create New Day
          </h1>
          <div class="title">
            <div class="field is-grouped">
              <p class="control is-expanded">
                <input #listTitleInput class="input has-background-light is-meduim" type="text" placeholder="Add Someday">
              </p>
              <div class="buttons is-right">
                <button class="button is-meduim " routerLink="/">Cancel</button>
                <button class="button is-primary"(click)="createNewDay(listTitleInput.value)">New Day</button>
                 
              </div>
            </div>
          </div>

    </div>

</div>